<h1 class="animated fadeIn fast">Sobre comica</h1><hr>
<p class="animated fadeIn"> 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id similique 
    veritatis enim vero! Corporis vel laudantium excepturi doloribus! Culpa 
    reiciendis at sed odit nesciunt exercitationem, quisquam ea blanditiis 
    temporibus aliquid tempora saepe perferendis rem provident quibusdam similique 
    facere ducimus! Fugit maxime eos sequi nam reprehenderit officia alias corrupti, 
    velit dolor?
</p>
